<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:macro name="amber_arm" params="prefix is_hw is_ethercat">
        <ros2_control name="amber_arm" type="system">
                <xacro:if value="${gazebo}">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
            <hardware>
                <plugin>AmberB1Hardware</plugin>
                <param name="is_hw">${is_hw}</param>
                <param name="is_ethercat">${is_ethercat}</param>
            </hardware>
                </xacro:if>
                <xacro:unless value="${gazebo}">
             <hardware>
                        <plugin>fake_components/GenericSystem</plugin>
            </hardware>
                </xacro:unless>



            <joint name="joint1">
                <command_interface name="position">
                    <param name="min">-2.4435</param>
                    <param name="max">2.4435</param>
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-3.14</param>
                    <param name="max">3.14</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="joint2">
                <command_interface name="position">
                    <param name="min">-2.3213</param>
                    <param name="max">2.3213</param>
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-3.14</param>
                    <param name="max">3.14</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="joint3">
                <command_interface name="position">
                    <param name="min">-2.2863</param>
                    <param name="max">2.2863</param>
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-3.14</param>
                    <param name="max">3.14</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="joint4">
                <command_interface name="position">
                    <param name="min">-2.2863</param>
                    <param name="max">2.2863</param>
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-3.14</param>
                    <param name="max">3.14</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="joint5">
                <command_interface name="position">
                    <param name="min">-2.2863</param>
                    <param name="max">2.2863</param>
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-5.23</param>
                    <param name="max">5.23</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="joint6">
                <command_interface name="position">
                    <param name="min">-2.2863</param>
                    <param name="max">2.2863</param>
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-5.23</param>
                    <param name="max">5.23</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
            <joint name="joint7">
                <command_interface name="position">
                    <param name="min">-3.05</param>
                    <param name="max">3.05</param>
                </command_interface>
                <command_interface name="velocity">
                    <param name="min">-5.23</param>
                    <param name="max">5.23</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
                <state_interface name="effort"/>
            </joint>
        </ros2_control>
        <gazebo>
            <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control_urdf">
                <robot_param>robot_description</robot_param>
                <robot_param_node>robot_state_publisher</robot_param_node>
                <parameters>$(find amber_arm_moveit_config)/config/ros_controllers.yaml</parameters>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>
